.price,
.quan {
    position: relative;
}

.price::before,
.quan::before {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.price::before {
    content: "$";
}

.quan::before {
    content: "unit"
}